/* General */


/* Header */



/*
.position-sticky {
    position: -webkit-sticky !important;
    position: sticky !important
}
*/



.fontTopHeader {
    font-family: Inter var, Inter, sans-serif;
    font-size: 14px
}

.backgroundTopHeader {
    background-color: #f5f5f5;
    color: #6b6b6b;
    line-height: 18px;
    display: none
}

@media screen and (min-width: 768px) {
    .backgroundTopHeader {
        display: block
    }
}

.backgroundTopHeader  a {
    text-decoration:none;
    margin-left: 20px;
    color: #6b6b6b
}

@media screen and (min-width: 768px) {
    .backgroundTopHeader  {
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }
}







@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 576px
    }
}

@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 768px
    }
}

@media (min-width: 992px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 992px
    }
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px
    }
}


.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between
}